.Bar {
  background-color: #282c34;
  color: white;
  transition: max-height 0.5s ease-in-out;
}

a{
  color: white;
  cursor: pointer;
  margin-top: 7px;
  text-decoration: none;
}

.Box{
  display: flex;
  justify-content: space-between;
}

.SeeMore{
  max-height: 50px;
  overflow-y: hidden;
}

.SeeLess{
  max-height: 2000px;
  overflow-y: hidden;
}
