.Bar {
  background-color: #282c34;
  color: white;
  transition: max-height 0.5s ease-in-out;
}

a{
  color: white;
  cursor: pointer;
  margin-top: 7px;
  text-decoration: none;
}

.Box{
  display: flex;
  justify-content: space-between;
}

.TagBox{
  margin-bottom: 20px;
  max-height: 90vh;
  overflow-y: scroll;
}

.SeeMore{
  height: 100vh;
  max-height: 50px;
  overflow-y: hidden;
}

.SeeLess{
  height:100vh;
  max-height: 100vh;
  overflow-y: hidden
}
